        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        
        body {
            font-family: 'Graphik LCG', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
        }
        
        .header {
            padding: 25px 0;
            border-bottom: 1px solid #CCCCCC;
            ;
        }
        
        .container_header {
            max-width: 1408px;
            padding: 0 15px;
            margin: 0 auto;
        }
        
        .container {
            max-width: 1340px;
            padding: 0 15px;
            margin: 0 auto;
        }
        
        img {
            max-width: 100%;
        }
        
        h1 {
            font-style: normal;
            font-weight: 600;
            font-size: 65px;
            line-height: 70px;
            color: #000000;
        }
        
        h2 {
            font-style: normal;
            font-weight: 600;
            font-size: 50px;
            line-height: 60px;
            color: #000000;
        }
        
        h3 {
            font-style: normal;
            font-weight: 600;
            font-size: 25px;
            line-height: 35px;
            color: #000000;
        }
        
        h4 {
            font-weight: 600;
            font-size: 35px;
            line-height: 50px;
            color: #000000;
        }
        
        a {
            text-decoration: none;
        }
        
        p {
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 25px;
            letter-spacing: 0.75px;
            color: #000000;
        }
        
        li {
            list-style: none;
        }
        
        li a:hover {
            border-bottom: 1px solid #000000;
        }
        
        .header_menu {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        
        .logo {
            margin-right: 51px;
        }
        
        .logo_nav {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 20px;
        }
        
        .logo_nav a {
            color: #000000;
        }
        
        .logo_nav ul {
            display: flex;
            flex-wrap: wrap;
        }
        
        .logo_nav li {
            list-style: none;
            margin-right: 57px;
        }
        
        .header .button_left {
            padding: 15px 36px;
            border: 1px solid rgba(0, 0, 0, 0.5);
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 45px;
            color: #000000;
            margin-right: 10px;
        }
        
        .header .button_right {
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 45px;
            padding: 16px 22px;
            color: #FFFFFF;
            background: #FF6336;
        }
        
        .introduction {
            padding: 160px 0;
        }
        
        .introduction_content {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        
        .introduction_text {
            font-style: normal;
            max-width: 550px;
            font-weight: 400;
            font-size: 25px;
            line-height: 35px;
            color: #000000;
        }
        
        .introduction_info {
            max-width: 471px;
            margin: 51px 0;
        }
        
        .introduction_more_info {
            margin-top: 25px;
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 25px;
            color: #000000;
        }
        
        .introduction .button_left {
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 45px;
            padding: 16px 42px;
            color: #FFFFFF;
            background: #FF6336;
            margin-right: 10px;
        }
        
        .introduction .button_right {
            padding: 15px 29px;
            border: 1px solid rgba(0, 0, 0, 0.5);
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 45px;
            color: #000000;
        }
        
        .compani {
            padding: 106px;
            background: #FF9C7D;
            text-align: center;
        }
        
        .compani_text {
            margin: 0 auto 70px auto;
            max-width: 720px;
        }
        
        .compani ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
        }
        
        .info {
            padding: 90px 0 150px 0;
        }
        
        .info_content {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 250px;
        }
        
        .info_content:last-child {
            margin-bottom: 0;
        }
        
        .info_content:nth-child(even) {
            flex-direction: row-reverse;
        }
        
        .info_main {
            max-width: 493px;
        }
        
        .info_text {
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            margin: 30px 0;
        }
        
        .info_text a {
            color: #000000;
            text-decoration: underline;
        }
        
        .start {
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 30px;
            color: #000000;
        }
        
        .localization {
            padding: 120px 0 75px 0;
            text-align: center;
            background: #FFF8E4;
        }
        
        .localization .cards {
            max-width: 1200px;
            margin: 58px auto 0 auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        
        .localization .item {
            width: 303px;
            margin-bottom: 75px;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 25px;
            color: #000000;
        }
        
        .caption {
            margin: 25px 0;
        }
        
        .item a {
            color: #000000;
            text-decoration: underline;
        }
        
        .boost {
            padding: 154px 0 157px 0;
        }
        
        .boost .card {
            margin-top: 92px;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        
        .boost .item {
            max-width: 409px;
            padding-bottom: 30px;
        }
        
        .boost_caption {
            font-style: normal;
            font-weight: 600;
            font-size: 30px;
            line-height: 40px;
            margin: 59px 0 34px 0;
        }
        
        .boost_text {
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            color: #000000;
            margin-bottom: 25px;
        }
        
        .boost h2 {
            text-align: center;
        }
        
        .learn_more {
            text-decoration: underline;
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            color: #000000;
        }
        
        .quote {
            background: #C9E8F2;
        }
        
        .Edward_Cooper {
            padding: 53px 0 105px 0;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        
        .quate_text {
            max-width: 920px;
        }
        
        blockquote {
            font-style: normal;
            font-weight: 400;
            font-size: 30px;
            line-height: 40px;
            color: #000000;
        }
        
        .name {
            margin-top: 23px;
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 25px;
            color: #000000;
        }
        
        .most_loved {
            background: #DABC98;
        }
        
        .most {
            display: flex;
            flex-wrap: wrap;
            padding: 90px 0;
        }
        
        .most_text {
            display: flex;
            border-right: 1px solid #000000;
            align-items: center;
        }
        
        .most_caption {
            max-width: 653px;
            padding: 0 67px 0 124px;
        }
        
        .stars {
            display: flex;
            align-items: center;
        }
        
        .stars .item {
            max-width: 128px;
            margin-left: 71px;
        }
        
        .tools {
            padding: 165px 0;
            text-align: center;
        }
        
        .tools_caption {
            margin: 0 auto;
            max-width: 791px;
        }
        
        .tools_text {
            margin: 0 auto;
            font-style: normal;
            font-weight: 400;
            font-size: 25px;
            line-height: 30px;
            color: #000000;
            max-width: 539px;
            margin-bottom: 25px;
        }
        
        .tools .button_right {
            margin-top: 32px;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 45px;
            padding: 16px 20px;
            color: #FFFFFF;
            background: #FF6336;
        }
        
        .for_free {
            background: #FF9C7D;
            padding: 120px 0 160px 0;
        }
        
        .for_free_content {
            text-align: center;
        }
        
        .for_free_caption {
            max-width: 700px;
            text-align: center;
            margin: 0 auto;
        }
        
        .for_free_text {
            max-width: 438px;
            margin: 29px auto 54px auto;
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            color: #000000;
        }
        
        .for_free .button_right {
            margin-top: 32px;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 45px;
            padding: 16px 40px;
            color: #FFFFFF;
            background: #000000;
        }
        
        .footer_nav {
            padding: 95px 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            border-bottom: 1px solid #000000;
        }
        
        .footer_case {
            max-width: 300px;
        }
        
        .bike {
            margin: 28px 0 38px 0;
        }
        
        .case_text {
            margin: 10px 0 15px 0;
        }
        
        .read_more {
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 30px;
            color: #000000;
        }
        
        .footer_item a {
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 15px;
            color: #000000;
        }
        
        .footer_item li:first-child a {
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 25px;
            color: #000000;
        }
        
        .footer_info {
            padding: 52px 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        
        .footer_logo {
            display: flex;
        }
        
        .logo_txt {
            margin-left: 15px;
            max-width: 300px;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            color: #000000;
        }